@page "/AddStudent"
@page "/EditStudent/{id}"
@if (String.IsNullOrEmpty(id))
{
    <h3>Add Student</h3>
}
else
{
        <h3>Edit Student</h3>
}
<div class='card p-5'>
    
<EditForm Model="_student" OnValidSubmit="Submit" class="form ">
    <FluentValidationValidator/>

    <ValidationSummary/>
    <label for="name" >Name:</label>
    <InputText @bind-Value="_student.Name" class="form-control "></InputText> 
   
    <label for="Moblie">Moblie:</label>
    <InputText @bind-Value="_student.Mobile" class="form-control " ></InputText> 
   
   
    <label for="BirthDate">BirthDate:</label>
    <InputDate  @bind-Value="_student.Birthdate" @bind-Value:format="dd/MM/yyyy" class="form-control " ></InputDate>
    <label for="name">Age:</label>
    <InputNumber  @bind-Value="_student.Age" class="form-control " ></InputNumber>
    @if (String.IsNullOrEmpty(id))
        {
            <button type="submit" class="btn btn-primary mt-5 me-2 ">
                Add 
            </button>
        }
        else
        {
             <button type="submit" class="btn btn-primary mt-5 me-2 ">
                Save 
            </button>  
        }
        <a href="students" class="btn btn-danger mt-5 me-4">Cancel </a>
    </EditForm>

</div>
