@page "/students"


<h3>Students</h3>
<div class=" row p-0">
    <div class="col col-5">
<button @onclick="AddStudent" class="btn btn-primary align-self-end">add Student</button>

    </div>
    <div class="col col-4">
<input type="text" class="form-control ml-6" @bind-value="searchText"/>

    </div>    
    <div class="col col-1">
        
<button class="btn btn-primary  " @onclick="Search">search</button>
        
    </div>

</div>
<table class="table table-borderless table-responsive-xl table-striped">
    <thead>
        <tr>
        <th>Name</th>
        <th>Moblie</th>
        <th>Birthdate</th>
        <th>age</th>
        <th></th>
        </tr>
    </thead>
    <tbody>


        @if (students == null)
        {
            <P>loading</P>
        }
        else if (students.Count == 0)
        {
            <p> No Students Found</p>
        }
        else{
        @foreach( Student student in students)
        {
            <tr>
            <td> @student.Name </td>
            <td>@student.Mobile</td>
           <td>
            @if(student.Birthdate!=null){
             @student.Birthdate.Value.ToShortDateString()
            }
            </td>
             <td>@student.Age</td>
             <td>
                 <button class="btn btn-danger" @onclick="()=>Delete(student.Id)">Delete</button>
                 <button class="btn btn-secondary" @onclick="()=>Update(student.Id)">Update</button>
             
             </td>
               
            

        </tr>
        }
        }

    </tbody>
</table>


